<%= render partial: 'shared/header' %>


<div style="margin: 50px">
    <h1> <strong> Blog Site </strong> </h1> 
    <p> <a href="/blogs/write"> Write Blog </a></p>
    <p> <a href="/blogs/all"> All Blogs </a> &nbsp <strong><%=@blog_count%></strong></p>
</div>




