<html>
<head>
    <meta charset="UTF-8">
    <style>
        *{
            margin-left : 10px;
        }
    </style>


</head>
<body>



<div><h1><strong>Create Blog</strong></h1></div>

<form action="/blogs/create" method="POST" enctype="multipart/form-data">

<div>
<label>Name:</label></br>
<input type="text" name="name" required></br>
</div> 
</br>
<div>
<label>Title:</label></br>
<input type="text" name="title" required></br>
</div>
</br>
<div>
<label>Description:</label></br>
<textarea name="desc" cols=30 rows=10 required> </textarea> </br>
</div>
</br>
<div>
<label>Photo:</label></br>
<input type="file" name="image" accept="image/png, image/jpeg" required></br>
</div> 
</br>
<div><input type="submit" value="Submit"></div>

</form> 






</body>
</html>